.img-response{
    width: 100%;
}

.div-center{
    text-align: center;
}

.div-elements{
    display: flex;
    justify-content: center;
}

.div-component{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}