.div-nav-bar{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.nav-item-dark{
    padding: 0 1rem;
    color: #9DA9A0;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-item-light{
    padding: 0 1rem;
    color: #1E2326;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 360px) and (max-width: 430px) {

    .div-nav-bar {
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: space-between;
    }

    .nav-item-dark {
        padding: 0 1rem;
        color: #9DA9A0;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .nav-item-light {
        padding: 0 1rem;
        color: #1E2326;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
    }

}

