.div-main {
    background-color: #282c34;
    color: white;
}

.div-row {
    display: flex;
    flex-direction: row;
}

.div-col {
    display: flex;
    flex-direction: column;
}

.div-section{
    width: 70%;
    height: 100vh;
    margin: auto;
}