.div-main-dark {
    background-color: #282c34;
    color: #9DA9A0;
    scrollbar-color: #61dafb rgba(49, 49, 49, 0.2);
    scrollbar-width: thin;
}

.div-main-dark::-webkit-scrollbar {
    width: 5px;
}

.div-main-dark::-webkit-scrollbar-track {
    background-color: rgba(49, 49, 49, 0.2);
}

.div-main-dark::-webkit-scrollbar-thumb {
    background-color: #61dafb;
    border-radius: 20px;
}

.div-main-light {
    background-color: #9DA9A0;
    color: #1E2326;
}

.div-row {
    display: flex;
    flex-direction: row;
}

.div-col {
    display: flex;
    flex-direction: column;
}

.div-section {
    width: 70%;
    min-height: 100vh;
    margin: auto;
}

.div-topicos {
    width: 50%;
    margin: auto;
}

.div-article {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.div-article h1 {
    font-size: 3rem;
}

.div-article h2 {
    font-size: 2.2rem;
}

.div-article h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.div-article p {
    font-size: 1.5rem;
}

.div-article a {
    color: #149eca;
    text-decoration: none;
    font-size: 1.2rem;
}

.div-article code {
    font-size: 1.3rem;
}